# Kafka
KAFKA_PORT=

# MinIO / Iceberg
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_PORT=
MINIO_CONSOLE_PORT=

# ClickHouse
CLICKHOUSE_PORT=
CLICKHOUSE_DB=

# Elasticsearch
ELASTICSEARCH_PORT=

# Grafana
GRAFANA_PORT=
